<!-- https://polaris.shopify.com/components/forms/text-field#navigation -->

<!-- {id : string, title : string, value : string} -->
</br>
<div class="Polaris-Labelled__LabelWrapper">
      <div class="Polaris-Label"><label id="<%= id %>" for="<%= id %>" class="Polaris-Label__Text"><%= title %></label></div>
    </div>
    <div class="Polaris-Connected">
      <div class="Polaris-Connected__Item Polaris-Connected__Item--primary">
        <div class="Polaris-TextField Polaris-TextField--hasValue"><input id="<%= id %>" class="Polaris-TextField__Input" type="email" aria-describedby="PolarisTextField12HelpText" aria-labelledby="PolarisTextField12Label" aria-invalid="false" aria-multiline="false" value="<%=value%>">
          <div class="Polaris-TextField__Backdrop"></div>
        </div>
      </div>
    </div>
</br>
